<div class="container mt-4" *ngIf="user">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            Posts from {{ user?.name }}:
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-10">
            <ng-container *ngFor="let post of postList; let i=index">
                <div *ngIf="i<3">
                    <div class="row">
                        <div class="col-md-10">
                            <a class="btn btn-info mb-2" data-toggle="collapse" role="button" aria-expanded="false"
                                aria-controls="collapsePost">
                                <div class="title"><b>{{post?.title}}</b></div>
                                <div>{{post?.body}}</div>
                            </a>
                            <div class="collapse mb-2" id="collapsePost{{i}}">
                                <div class="card card-body">
                                    <app-user-comments [commentList]="commentList"></app-user-comments>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 mt-4 pt-4">
                            <mat-icon style="cursor: pointer;" (click)="onClickingPost(post.id,i)">add_comment</mat-icon>
                        </div>
                    </div>

                </div>
                <div *ngIf="i>3 && load ==true">
                    <div class="row">
                        <div class="col-md-10">
                            <a class="btn btn-info mb-2" data-toggle="collapse" role="button" aria-expanded="false"
                                aria-controls="collapsePost">
                                <div class="title"><b>{{post?.title}}</b></div>
                                <div>{{post?.body}}</div>
                            </a>
                            <div class="collapse mb-2" id="collapsePost{{i}}">
                                <div class="card card-body">
                                    <app-user-comments [commentList]="commentList"></app-user-comments>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 mt-4 pt-4">
                            <mat-icon style="cursor: pointer;" (click)="onClickingPost(post.id,i)">add_comment</mat-icon>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-10 col-xl-9 ">
            <div class="float-right">
                <button class=" btn btn-primary" (click)="onLoadAll()">...Load all</button>
            </div>
        </div>
    </div>
</div>
<app-loader [show]="showloader"></app-loader>
